@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}