@charset "UTF-8";

/* estilo para css*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: gray;
}

header > h1 {
    text-align: center;
}

menu  ul {

    list-style-type: none;
    background-color: lightgray;
}

menu li {
    background-color: rgb(110, 110, 110);
    display: inline-block;
    padding: 10px;
    color: aliceblue;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}