@charset 'UTF-8';

body {
    background-color: #A6A6A6;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #000000;
}

h2 {
    color: #262626;
}
p {
    color: #3a3a3a;
}

#Principal {
    text-align: center;
    font-family: "Momo Signature", cursive;
    background-color: #3a3a3a;
}

