@charset 'UTF-8';

body {
    background-color: #A6A6A6;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #00ff11;
}

h2 {
    color: #262626;
}
p {
    color: #3a3a3a;
}

#Principal {
    text-align: center;
    font-family: "Momo Signature", cursive;
    background-color: #3a3a3a;
}

.basico {
    color: #bfdc00;

}

.intermediario {
    color: rgb(135, 153, 16);
}

.avancado {
    color: rgb(89, 103, 0);
}

.destaque {
    font-weight: bold;
    font-size: 30px;
    color: #00ff08;
    background-color: #262626;
}