@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9FC131, #005C53, #042940);
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.368);
    width: 600px;
    padding: 10px;
    margin: auto;

}

h2 {
    color: #008cff;

}

h1 {
    color: #042940;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.685);
}